{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": "off",
    "prefer-destructuring": ["error", {
      "object": true,
      "array": false
    }],
    "consistent-return": "off",
    "global-require": "off",
    "guard-for-in": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off",
    "object-curly-newline": ["error", {
        "ImportDeclaration": "never"
    }],
    "lines-between-class-members": "off",
    "no-param-reassign": "off",
    "no-use-before-define": "off",
    "no-console": "off",
    "linebreak-style": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-dupe-class-members": "off",
    "@typescript-eslint/no-dupe-class-members": ["error"],
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-empty-interface": "off"
  }
}