@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Manrope&display=swap');

html, body {
  height: 100%;
  border: none;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: white;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

span {
  font-weight: 300;
}

.canvas {
  z-index: -1;
  position: absolute;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  z-index: 0;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;

  width: 500px;
  min-width: 350px;
  max-width: 50%;
  height: 100%;

  padding: 30px;

  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  user-select: none;
}

.rule {
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0.1;
}

.section-header {
  margin: 0;

  font-size: 32px;
  font-family: Manrope;
}

.page-header > h1 {
  font-size: 48px;
}

.content-header {
  padding-left: 12px;
  padding-right: 12px;
  border-left: 4px solid chartreuse;
}

.github-ref {
  margin-left: 10px;

  color: white;
  text-decoration: none;
}

.github-icon {
  width: 32px;
  height: 32px;
}

.images-layout {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: minmax(164px, auto) 1fr;
  grid-template-areas:
    "index title"
    "index artist"
    "index nav";

  width: fit-content;
}

.index {
  grid-area: index;

  margin: 0;

  font-size: 96px;
  font-weight: 300;
}

.link {
  width: fit-content;

  color: white;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;

  opacity: 0.5;
  transition: all 0.15s ease-out;
}

.link:hover {
  text-decoration-color: white;
  opacity: 1;
}

.title {
  grid-area: title;
  align-self: flex-end;

  margin: 0;
}

.artist {
  grid-area: artist;

  margin: 0;
}

.nav {
  grid-area: nav;

  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-auto-flow: column;
  column-gap: 10px;

  width: fit-content;
}

.nav-icon {
  cursor: pointer;
  fill: white;

  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.nav-icon:hover {
  opacity: 1;
}

.options-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  row-gap: 5px;
  column-gap: 5px;

  margin-top: 15px;
  width: 100%;
}

.select-item {
  cursor: pointer;

  min-width: 50px;
  padding: 10px;

  text-align: center;
  font-size: 14px;

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;

  transition: all 0.2s ease;
}

.select-item:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.select-item-active {
  color: black;
  background-color: rgba(255, 255, 255) !important;
}
